<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1068607749109-m6b62llcq0g1fbvdi37dojk5uq49a0q3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1068607749109-m6b62llcq0g1fbvdi37dojk5uq49a0q3</string>
	<key>API_KEY</key>
	<string>AIzaSyDIgQRX8qMGeh7-op6BD2KS9K0qIhHgo5c</string>
	<key>GCM_SENDER_ID</key>
	<string>1068607749109</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.himavarshan.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-himavarshan</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-himavarshan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068607749109:ios:40e5f4c7c242ea38e67ebc</string>
</dict>
</plist>